# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# Archive
*.zip

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Backend lock files
backend/package-lock.json
backend/package.json

# Frontend lock files
frontend/package-lock.json
frontend/package.json
